test*
*_geometry.json
.vscode/

venv/
*/__pycache__
*.egg-info

*-communitygen
out.mp4

district_assignment.csv
maup_concated.csv
TODO

examples/.ipynb_checkpoints
examples/*out
examples/*.png
NC_ensemble_10000

debug.py

maryland
new_hampshire

rba/data/2010/pennsylvania_geodata_merged.json

TODO.md